node_modules/
Lib/
Include/
Scripts/
__pycache__/
poetry.lock
package-lock.json
lib
lib64
share
bin
dist/
static/
static-dev/css/
apps/public/css
apps/public/js
*.env
env/
etc/
.ipynb_checkpoints
staticfiles_build/