{% extends "base.html" %}

{% block content %}

{% include 'snippits/form-errors.html' %}

<div class="flex min-h-screen bg-white">
  <div class="md:w-1/2 max-w-lg mx-auto my-24 px-4 py-5 shadow-none">
    <div class="text-center p-0 font-sans">
      <h1 class=" text-gray-800 text-3xl font-medium">Forgot Your Password.</h1>
      <h3 class="p-1 text-gray-700">No Worries. Enter your Email to Proceed</h3>
    </div>
    <form method="POST" class="p-0">{% csrf_token %}
      <div class="mt-5">
        {% for field in form %}
        <label class="block mb-1">{{field.label}}</label>
        {{ field }}<br>
        {% if field.help_text %}
        {% endif %}
        {% endfor %}
      </div>
      <div class="mt-10">
        <button
          class="w-full inline-flex items-center justify-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold capitalize text-white hover:bg-red-700 active:bg-red-700 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 disabled:opacity-25 transition">
          Reset Your Password
        </button>
      </div>
    </form>
    <span class="block  p-5 text-center text-gray-800  text-md ">Already have an Account?<a
        class="text-blue-800 underline" href="{% url 'sign-in' %}"> Sign-In here</a>.</span>
    <span class="block  p-5 text-center text-gray-800  text-md ">Don't have an Account?<a
        class="text-blue-800 underline" href="{% url 'sign-up' %}">
        Sign-Up here</a>.</span>
  </div>
</div>
{% endblock content %}