{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <title>E Commerce</title>

  {% if debug %}
  <script type="module" src="http://localhost:3000/index.tsx"></script>
  <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">

  {% else %}

  {% include 'react/js.html' %}
  {% include 'react/css.html' %}
  <link rel="stylesheet" href="{% static 'css/tailwind.min.css' %}">

  {% endif %}
</head>

<body>
  <div id='loader' class="w-full h-full fixed block top-0 left-0 bg-white opacity-75 z-50">
    <span class="text-green-500 opacity-75 top-1/2 my-0 mx-auto block relative w-0 h-0" style="top: 50%;">
      <i class="fas fa-circle-notch fa-spin fa-5x"></i>
    </span>
  </div>
  <div class='min-h-screen'>
    {{request.user.is_authenticated|json_script:'is_authenticated'}}
    <div id="root"></div>    

    {% if 'accounts' in request.get_full_path or 'checkout' in request.get_full_path %}
    {% block content %} {% endblock content %}
    {% endif %}
  </div>
  {% include 'snippits/footer.html' %}

</body>

<script>
  document.onreadystatechange = function () {
    if (document.readyState !== "complete") {
      document.querySelector("body").style.visibility = "hidden";
      document.querySelector("#loader").style.visibility = 'visible'
      document.querySelector("#loader").style.opacity += 0.1;
    } else {
      document.querySelector("#loader").style.display = "none";
      document.querySelector("body").style.visibility = "visible";
    }
  }
  function closeAlert(event) {
    let element = event.target;
    while (element.nodeName !== "BUTTON") {
      element = element.parentNode
    }
    element.parentNode.parentNode.removeChild(element.parentNode);
  }
</script>

</html>