{% extends "base.html" %}

{% block content %}

<section class="bg-white pt-10">
  <h1 class="md:text-5xl text-center text-3xl mt-20">Your Password was Successfully Reset!</h1>
  <p class="text-center py-5">
    Your password has been set. You may Sign-In here.<br />
    <a href="{% url 'sign-in' %}">
      <button
        class="mt-10 bg-blue-200 hover:bg-blue-600 text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded">
        Sign-In Here
      </button>
    </a>
  </p>
</section>

{% endblock content %}