{% extends 'base.html' %}

{% block content %}

{% if messages %}
<div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-green-400">
  <span class="text-xl inline-block mr-5 align-middle">
    <i class="fas fa-check-circle"></i>
  </span>
  <span class="inline-block align-middle mr-8">
    <b class="capitalize">Success!</b> {% for message in messages %}{{message}}{% endfor %}
  </span>
  <button
    class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none"
    onclick="closeAlert(event)">
    <span><i class="fas fa-window-close"></i></span>
  </button>
</div>
{% endif %}

<div class="flex py-24 justify-center">
  <div class="p-12 text-center max-w-2xl">
    <div class="md:text-3xl text-3xl font-bold">Your Order has been Placed.</div>
    <div class="text-xl font-normal mt-4">
      Futhur details has been Mailed to {{request.user.email}}.<br />
      Please check your email for further details.
    </div>
    <div class="mt-6 flex justify-center h-12 relative">
      <a href="/products/"
        class="flex shadow-md font-medium absolute py-2 px-4 text-green-100 cursor-pointer bg-green-600 rounded text-lg tr-mt  svelte-jqwywd">
        Continue Shopping
      </a>
    </div>
  </div>
</div>

{% endblock content %}