{% extends 'base.html' %}

{% block content %}

{% include 'snippits/form-errors.html' %}


<div class="w-full min-h-screen bg-gray-50 flex flex-col sm:justify-center items-center pt-6 sm:pt-0">
  <div class="w-full sm:max-w-md p-5 mx-auto">
    <h2 class="mb-12 text-center text-5xl font-extrabold">Welcome.</h2>
    <form method="POST">{% csrf_token %}
      {% for field in form %}
      <label class="block mb-1">{{field.label}}</label>
      {{ field }}<br>
      {% if field.help_text %}
      {% endif %}
      {% endfor %}
      <div class="mt-6">
        <button
          class="w-full inline-flex items-center justify-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold capitalize text-white hover:bg-red-700 active:bg-red-700 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 disabled:opacity-25 transition">
          Sign In
        </button>
      </div>
      <div class="mt-6 text-center">
        <p>Alrady have an Account? <a href="{% url 'sign-in' %}" class="underline">Sign-In here</a>.</p>
      </div>
    </form>
  </div>
</div>

{% endblock content %}